############################################
# ENABLED_FEATURES #
############################################
#
# Allows the ability to enable or disable features.
# Each character represents a feature,
#   0: Disabled
#   1: Enabled
#
ENABLED_FEATURES 11111111111111

############################################
# FEATURE_WEIGHTS #
############################################
FEATURE_WEIGHTS 1 1 1 1 1 1 1 1 1 1 1 1 1 1

############################################
# DATAFILE #
############################################
#
# Contains a path relative to the nova folder of where
# the data points file can by located.
#
# EXAMPLE:
#DATAFILE config/data.txt
DATAFILE config/training/data.txt

