create default
set default default tcp action filtered
set default default udp action filtered
set default default icmp action filtered
set default personality "Linux 3.0"
set default ethernet "Dell"
set default droprate in 0

clone CustomNodeProfile-0 default
set CustomNodeProfile-0 default tcp action closed
set CustomNodeProfile-0 default udp action closed
set CustomNodeProfile-0 default icmp action open
add CustomNodeProfile-0 tcp port 21 "bash /usr/share/honeyd/scripts/linux/ftp.sh $ipsrc $sport $ipdst $dport /home/pherricoxide/.config/nova/config/haystackscripts/0"
add CustomNodeProfile-0 tcp port 22 "bash /usr/share/honeyd/scripts/linux/ssh.sh $ipsrc $sport $ipdst $dport /home/pherricoxide/.config/nova/config/haystackscripts/1"
add CustomNodeProfile-0 tcp port 80 "tclsh /usr/share/honeyd/scripts/linux/httpd/httpd.tcl $ipsrc $sport $ipdst $dport /home/pherricoxide/.config/nova/config/haystackscripts/2"
set CustomNodeProfile-0 personality "Linux 3.0 - 3.1"
set CustomNodeProfile-0 ethernet "Dell"
set CustomNodeProfile-0 droprate in 0
dhcp CustomNodeProfile-0 on eth0 ethernet "a4:ba:db:7d:27:5e"

clone CustomNodeProfile-1 default
set CustomNodeProfile-1 default tcp action closed
set CustomNodeProfile-1 default udp action closed
set CustomNodeProfile-1 default icmp action open
add CustomNodeProfile-1 tcp port 20 open
add CustomNodeProfile-1 tcp port 21 "sh /usr/share/honeyd/scripts/win32/win2k/msftp.sh"
add CustomNodeProfile-1 tcp port 23 "bash /usr/share/honeyd/scripts/linux/telnetd.sh $ipsrc $sport $ipdst $dport /home/pherricoxide/.config/nova/config/haystackscripts/3"
add CustomNodeProfile-1 tcp port 80 "bash /usr/share/honeyd/scripts/win32/web.sh"
add CustomNodeProfile-1 tcp port 135 open
add CustomNodeProfile-1 tcp port 137 open
add CustomNodeProfile-1 udp port 135 open
add CustomNodeProfile-1 udp port 137 open
set CustomNodeProfile-1 personality "Microsoft Windows Server 2003 SP1 or SP2"
set CustomNodeProfile-1 ethernet "Dell"
set CustomNodeProfile-1 droprate in 0
dhcp CustomNodeProfile-1 on eth0 ethernet "00:18:8b:ba:77:fd"

clone CustomNodeProfile-2 default
set CustomNodeProfile-2 default tcp action closed
set CustomNodeProfile-2 default udp action closed
set CustomNodeProfile-2 default icmp action open
add CustomNodeProfile-2 tcp port 22 "bash /usr/share/honeyd/scripts/linux/ssh.sh $ipsrc $sport $ipdst $dport /home/pherricoxide/.config/nova/config/haystackscripts/4"
add CustomNodeProfile-2 tcp port 23 "perl /usr/share/honeyd/scripts/embedded/router-telnet.pl"
set CustomNodeProfile-2 personality "FreeBSD 8.2-STABLE"
set CustomNodeProfile-2 ethernet "Dell"
set CustomNodeProfile-2 droprate in 0
dhcp CustomNodeProfile-2 on eth0 ethernet "00:11:43:7d:de:9f"


