create default
set default default tcp action block
set default default udp action block
set default default icmp action block

create comp
set comp personality "Microsoft Windows 2003 Server"
set comp default tcp action reset
set comp ethernet "Dell"
add comp tcp port 23 "/usr/share/honeyd/scripts/router-telnet.pl"
add comp tcp port 80 "/usr/share/honeyd/scripts/web.sh"
add comp tcp port 139 open
add comp tcp port 137 open
add comp udp port 137 open
add comp udp port 135 open 
set comp uptime 1327650 

bind 192.168.2.167 comp
bind 192.168.2.168 comp
bind 192.168.2.169 comp
bind 192.168.2.170 comp
bind 192.168.2.171 comp
bind 192.168.2.172 comp
bind 192.168.2.173 comp
bind 192.168.2.174 comp
bind 192.168.2.175 comp
bind 192.168.2.176 comp
bind 192.168.2.177 comp
bind 192.168.2.178 comp
bind 192.168.2.179 comp
bind 192.168.2.180 comp
