create default
set default default tcp action block
set default default udp action block
set default default icmp action block

create WinServer
set WinServer personality "Microsoft Windows 7"
set WinServer default tcp action reset
set WinServer ethernet "Dell"
add WinServer tcp port 20 open
add WinServer tcp port 21 "bash win32/win2k/msftp.sh"
add WinServer tcp port 23 "perl embedded/router-telnet.pl"
add WinServer tcp port 80 "bash win32/web.sh"
add WinServer tcp port 139 open
add WinServer tcp port 137 open
add WinServer udp port 137 open
add WinServer udp port 135 open
set WinServer uptime 1546550

create LinuxServer
set LinuxServer personality "Linux 2.6.11 - 2.6.20"
set LinuxServer default tcp action reset
set LinuxServer ethernet "Dell"
add LinuxServer tcp port 80 "tclsh scripts/linux/httpd/httpd.tcl $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add LinuxServer tcp port 139 open
add LinuxServer tcp port 137 open
add LinuxServer udp port 137 open
add LinuxServer udp port 135 open
set LinuxServer uptime 1324350

### Linux Suse 8.0 template
create suse80
set suse80 personality "Linux 2.6.11 - 2.6.20"
set suse80 default tcp action reset
set suse80 ethernet "Dell"
set suse80 uptime 79239
add suse80 tcp port 21 "bash scripts/linux/ftp.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 tcp port 22 "bash scripts/linux/ssh.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 tcp port 23 "bash scripts/linux/telnetd.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 tcp port 25 "bash scripts/linux/sendmail.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 tcp port 79 "bash scripts/linux/fingerd.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 tcp port 80 "tclsh scripts/linux/httpd/httpd.tcl $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 tcp port 110 "bash scripts/linux/qpop.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 tcp port 111 "perl scripts/unix/general/rpc/bportmapd --proto tcp --host scripts/unix/general/rpc/hosts/debian --srcip $ipsrc --dstip $ipdst --srcport $srcport --dstport $dport --logfile /var/log/honeyd/bportmapd --logall"
add suse80 tcp port 143 "bash scripts/linux/cyrus-imapd.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 tcp port 515 "bash scripts/linux/lpd.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 3128 "bash scripts/linux/squid.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 tcp port 8080 "bash scripts/linux/squid.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 tcp port 8081 "bash scripts/linux/squid.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add suse80 udp port 53 proxy 24.35.0.12:53
add suse80 udp port 161 "perl scripts/unix/general/snmp/fake-snmp.pl public private --config=scripts/unix/general"
add suse80 udp port 514 "bash scripts/linux/syslogd.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"

create BSDServer
set BSDServer personality "Linux 2.6.11 - 2.6.20"
set BSDServer default tcp action reset
set BSDServer ethernet "Dell"
add BSDServer tcp port 23 "embedded/router-telnet.pl"
add BSDServer tcp port 139 open
add BSDServer tcp port 137 open
add BSDServer udp port 137 open
add BSDServer udp port 135 open
set BSDServer uptime 1326346

create netbooter
set netbooter personality "Linux 2.6.11 - 2.6.20"
set netbooter default tcp action reset
set netbooter ethernet "Dell"
add netbooter tcp port 80 "tclsh scripts/linux/httpd/httpd.tcl $ipsrc $sport $ipdst $dport scripts/strings/example.conf"

bind 192.168.3.11 suse80
bind 192.168.3.12 netbooter
bind 192.168.3.13 BSDServer
bind 192.168.3.14 BSDServer
bind 192.168.3.15 WinServer
bind 192.168.3.16 LinuxServer
bind 192.168.3.17 LinuxServer
bind 192.168.3.18 WinServer
bind 192.168.3.19 LinuxServer
bind 192.168.3.20 BSDServer
bind 192.168.3.21 WinServer
bind 192.168.3.22 BSDServer
bind 192.168.3.23 BSDServer
bind 192.168.3.24 WinServer
bind 192.168.3.25 WinServer
bind 192.168.3.26 BSDServer
bind 192.168.3.27 LinuxServer
bind 192.168.3.28 BSDServer
bind 192.168.3.29 WinServer
bind 192.168.3.30 LinuxServer
bind 192.168.3.31 LinuxServer
bind 192.168.3.32 WinServer
bind 192.168.3.33 WinServer
bind 192.168.3.34 BSDServer
bind 192.168.3.35 LinuxServer
bind 192.168.3.36 BSDServer
bind 192.168.3.37 WinServer
bind 192.168.3.38 WinServer
