create default
set default default tcp action block
set default default udp action block
set default default icmp action block

create WinServer
set WinServer personality "Microsoft Windows 7"
set WinServer default tcp action reset
set WinServer ethernet "Dell"
add WinServer tcp port 20 open
add WinServer tcp port 21 "/usr/share/nova/scripts/win32/win2k/msftp.sh"
add WinServer tcp port 23 "/usr/share/nova/scripts/router-telnet.pl"
add WinServer tcp port 80 "/usr/share/nova/scripts/win32/web.sh"
add WinServer tcp port 139 open
add WinServer tcp port 137 open
add WinServer udp port 137 open
add WinServer udp port 135 open
set WinServer uptime 1546550

create LinuxServer
set LinuxServer personality "Linux 2.6.11 - 2.6.20"
set LinuxServer default tcp action reset
set LinuxServer ethernet "Dell"
add LinuxServer tcp port 80 "/usr/share/nova/scripts/web.sh"
add LinuxServer tcp port 139 open
add LinuxServer tcp port 137 open
add LinuxServer udp port 137 open
add LinuxServer udp port 135 open
set LinuxServer uptime 1324350

### Linux Suse 8.0 template
create suse80
set suse80 personality "Linux 2.6.11 - 2.6.20"
set suse80 default tcp action reset
set suse80 ethernet "Dell"
set suse80 uptime 79239
add suse80 tcp port 21 "sh /usr/share/nova/scripts/unix/linux/suse8.0/proftpd.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 22 "sh /usr/share/nova/scripts/unix/linux/suse8.0/ssh.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 23 "sh /usr/share/nova/scripts/unix/linux/suse8.0/telnetd.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 25 "sh /usr/share/nova/scripts/unix/linux/suse8.0/sendmail.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 79 "sh /usr/share/nova/scripts/unix/linux/suse8.0/fingerd.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 80 "sh /usr/share/nova/scripts/unix/linux/suse8.0/apache.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 110 "sh /usr/share/nova/scripts/unix/linux/suse8.0/qpop.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 111"perl /usr/share/nova/scripts/unix/general/rpc/bportmapd --proto tcp --host /usr/share/nova/scripts/unix/general/rpc/hosts/debian --srcip $ipsrc --dstip $ipdst --srcport $srcport --dstport $dport --logfile /var/log/honeyd --logall"
add suse80 tcp port 143 "sh /usr/share/nova/scripts/unix/linux/suse8.0/cyrus-imapd.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 515 "sh /usr/share/nova/scripts/unix/linux/suse8.0/lpd.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 3128 "sh /usr/share/nova/scripts/unix/linux/suse8.0/squid.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 8080 "sh /usr/share/nova/scripts/unix/linux/suse8.0/squid.sh $ipsrc $sport $ipdst $dport"
add suse80 tcp port 8081 "sh /usr/share/nova/scripts/unix/linux/suse8.0/squid.sh $ipsrc $sport $ipdst $dport"
add suse80 udp port 53 proxy 24.35.0.12:53
add suse80 udp port 111"perl /usr/share/nova/scripts/unix/general/rpc/bportmapd --proto udp --host /usr/share/nova/scripts/unix/general/rpc/hosts/debian --srcip $ipsrc --dstip $ipdst --srcport $srcport --dstport $dport --logfile /var/log/honeyd --logall"
add suse80 udp port 161 "perl /usr/share/nova/scripts/unix/general/snmp/fake-snmp.pl public private --config=/usr/share/nova/scripts/unix/general"
add suse80 udp port 514 "sh /usr/share/nova/scripts/unix/linux/suse8.0/syslogd.sh $ipsrc $sport $ipdst $dport"

create BSDServer
set BSDServer personality "Linux 2.6.11 - 2.6.20"
set BSDServer default tcp action reset
set BSDServer ethernet "Dell"
add BSDServer tcp port 23 "/usr/share/nova/scripts/router-telnet.pl"
add BSDServer tcp port 139 open
add BSDServer tcp port 137 open
add BSDServer udp port 137 open
add BSDServer udp port 135 open
set BSDServer uptime 1326346

bind 192.168.3.11 suse80
bind 192.168.3.12 LinuxServer
bind 192.168.3.13 BSDServer
bind 192.168.3.14 BSDServer
bind 192.168.3.15 WinServer
bind 192.168.3.16 LinuxServer
bind 192.168.3.17 LinuxServer
bind 192.168.3.18 WinServer
bind 192.168.3.19 LinuxServer
bind 192.168.3.20 BSDServer
bind 192.168.3.21 WinServer
bind 192.168.3.22 BSDServer
bind 192.168.3.23 BSDServer
bind 192.168.3.24 WinServer
bind 192.168.3.25 WinServer
bind 192.168.3.26 BSDServer
bind 192.168.3.27 LinuxServer
bind 192.168.3.28 BSDServer
bind 192.168.3.29 WinServer
bind 192.168.3.30 LinuxServer
bind 192.168.3.31 LinuxServer
bind 192.168.3.32 WinServer
bind 192.168.3.33 WinServer
bind 192.168.3.34 BSDServer
bind 192.168.3.35 LinuxServer
bind 192.168.3.36 BSDServer
bind 192.168.3.37 WinServer
bind 192.168.3.38 WinServer
