extends layout

block content
  h1 Connected Clients List
  table(style='border: 2px solid; width: 200px; border-collapse: collapse;')
    tbody(id='clientsList')
  br
  br
  h1 Add Group
  label New Group Name: 
  input(id='groupName', maxlength='10', size='10', value='')
  button(id='addGroup', onclick='addGroup(document.getElementById("groupName").value, getMembers())') Add Group
  h1 Current Groups
  table(id='groupsList', style='border-collapse: collapse;')
    thead
      tr
        th Group
        th Members
    tbody(id='appendHook')
  br
  br
 
block headerAdditions
  script(type='text/javascript', src='scripts/ConnectionManagement.js')
  script(type='text/javascript', src='scripts/Groups.js')
  script
    var clients = '#{CLIENTS}'.split(':');
    var theDoc = document;
    
    if(clients[0] == '')
    {
      clients.length = 0;
      clients = new Array();
    }
    
    var clientCount = 0;
    var groups = !{GROUPS};
  
    var maintainGroups = new Array();

    now.ready(function(){
      now.GetClients(now.RenderConnectionsList);
      now.SetUpNotificationsButton();
      now.SetUpHostileEventsButton();
      now.GetClients(function(list) {
        for(var i in list)
        {
          if(list[i] != '')
          {
            now.UpdateConnectionsList(list[i], 'updateStatus');  
          } 
        }
      });
      
      setUpClientsList('clientsList');
      setUpGroups('appendHook');
      
      var members = '';
      
      for(var i = 0; i < clientCount; i++)
      {
        members += clients[i] + ',';
      }
      if(members[members.length - 1] == ',')
      {
        members = members.substr(0, members.length - 1);
      }
      
      updateGroup('all', members);
    });