extends layout

block content
  table
    thead
      tr
        th Connected Clients
        th Groups
    tbody
      tr
        td
          table(style='border: 2px solid; width: 200px; border-collapse: collapse;')
            tbody(id='clientsList')
        td
          table(style='border: 2px solid; width: 200px; border-collapse: collapse;')
            tbody(id='groupsList')
  br
  br
  div(id='elementHook')
  br
  button(onclick='submitSchedule()') Submit Scheduling Changes
          
block headerAdditions
  script(type='text/javascript', src='scripts/ConnectionManagement.js')
  script(type='text/javascript', src='scripts/Schedule.js')
  script
    var clients = '#{CLIENTS}'.split(':');
    var groups = !{GROUPS};
    var messageTypes = '#{TYPES}'.split(',');
    var message = {};
    message.id = '';
    
    now.ready(function(){
      now.GetClients(now.RenderConnectionsList);
      now.SetUpNotificationsButton();
      now.GetClients(function(list){
        for(var i in list)
        {
          if(list[i] != '')
          {
            now.UpdateConnectionsList(list[i], 'updateStatus');  
          } 
        }
      });
      setUpClientsList('clientsList');
      setUpGroupsList('groupsList');
    });