div.novaGrid {
	border: 1px solid black;
	min-height:  200px;
	width: auto;
	display: inline-block;
}

.novaGrid {
	table-layout:fixed;
	border-collapse:collapse;
}

table.novaGrid {
	border: 1px solid black;
}

td.novaGrid
{
	font-size:1em;
	border:1px solid #d0e9fc;
	padding:1px 4px 1px 4px;
	text-align:center;
	white-space: nowrap;
}

.novaGrid th
{
	border: 1px solid black;
	white-space: normal;
	font-size:1.1em;
	text-align:center;
	padding-top:4px;
	padding-bottom:4px;
	background-color: #d0e9fc;
}

tr.novaGrid:hover {
	background-color: #AFD9FF !important;
}

.pageNumberLink {
	font-size: 18px;
	margin-right: 2px;
	margin-left: 2px;
	padding-right: 2px;
	padding-left: 2px;
	text-decoration: none;
	color: black;
}

.pageNumberLink:hover {
	background-color: #AFD9FF !important;
}

div.sortArrow
{
	margin: 0 4px 0 5px;
	color: red;
	text-align: right;
	font-size: 12px;
	float: right;
	display: block;
	padding-left: 0;
}

