* {
    font-family: Lucida Sans,Lucida Grande,Arial !important;
    outline: none !important;
}

body {
    margin: 0;
    padding: 2em;
    font-size: 13px !important;
    background: white;
    color: #333;
}
p {
}

div.sideBarHeader {
	dislay: block;
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}

input[type=button], input[type=submit], button, .button, .sideBarButton {
    font-size:13px;
    background-color: #E4F2FF;
    border: 1px solid #769DC0;
    padding: 2px 4px 4px;
	text-align: center;
	text-decoration: none;
}

.sideBarButton {
	width: 135px;
	display:block;
}

.sideBarButton, .button:link { color: black;}
.sideBarButton, .button:visited {color:black;}



input[type=button]:hover, input[type=submit]:hover, .sideBarButton:hover, button:hover, .button:hover {
    background-color: #AFD9FF;
    color: #000000;
}


input {
    border-radius:4px;
    background-color: #E4F2FF;
    background-position: center top;
    background-repeat: repeat-x;
    border: 1px solid #769DC0;
    padding: 2px 8px 4px;
}

h1 {
    font-size:1.5em;
}



html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
 
#appLayout {
    height: 100%;
}
#leftCol {
    width: 12em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

#viewsChart {
    width: 550px;
    height: 550px;
}

#clientsList {
    border: 2px solid;
    border-radius: 12px;
    background: #E8A02F;
    width: 250px;
}

.white_content{
	display: none;
	position: absolute;
	top: 25%;
	left: 0%;
	width: 75%;
	height: 60%;
	padding: 16px;
	border: 16px outset #E8A02F;
	background-color: white;
	z-index: 1002;
	overflow: hidden;
}

.align-left {float:left; margin: 0 15px 15px 0;}
