create default
set default default tcp action block
set default default udp action block
set default default icmp action block
set default ethernet "Dell"
set default droprate in 0

create pfileBSDServer
set pfileBSDServer default tcp action reset
set pfileBSDServer default udp action reset
set pfileBSDServer default icmp action open
set pfileBSDServer personality "FreeBSD 8.2-STABLE"
set pfileBSDServer ethernet "Dell"
set pfileBSDServer droprate in 0

create pfileLinuxServer
set pfileLinuxServer default tcp action reset
set pfileLinuxServer default udp action reset
set pfileLinuxServer default icmp action open
set pfileLinuxServer personality "Linux 3.0 - 3.1"
set pfileLinuxServer ethernet "Dell"
set pfileLinuxServer droprate in 0

create pfileDoppelganger
set pfileDoppelganger default tcp action reset
set pfileDoppelganger default udp action reset
set pfileDoppelganger default icmp action open
set pfileDoppelganger personality "Microsoft Windows 7"
set pfileDoppelganger ethernet "Intel"
set pfileDoppelganger droprate in 0

create pfileWinServer
set pfileWinServer default tcp action reset
set pfileWinServer default udp action reset
set pfileWinServer default icmp action open
set pfileWinServer personality "Microsoft Windows Server 2003 SP1 or SP2"
set pfileWinServer ethernet "Dell"
set pfileWinServer droprate in 0

clone CustomNodeProfile-1 pfileWinServer
add CustomNodeProfile-1  tcp port 20 open
add CustomNodeProfile-1  tcp port 21 "sh /usr/share/honeyd/scripts/win32/win2k/msftp.sh"
add CustomNodeProfile-1  tcp port 23 "bash scripts/linux/telnetd.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add CustomNodeProfile-1  tcp port 80 "bash /usr/share/honeyd/scripts/win32/web.sh"
add CustomNodeProfile-1  udp port 135 open
add CustomNodeProfile-1  udp port 137 open
add CustomNodeProfile-1  tcp port 137 open
add CustomNodeProfile-1  tcp port 139 open
dhcp CustomNodeProfile-1 on eth0 ethernet "14:fe:b5:7c:0b:3f"
clone CustomNodeProfile-2 pfileBSDServer
add CustomNodeProfile-2  tcp port 22 "bash scripts/linux/ssh.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add CustomNodeProfile-2  tcp port 23 "perl /usr/share/honeyd/scripts/embedded/router-telnet.pl"
dhcp CustomNodeProfile-2 on eth0 ethernet "00:15:c5:99:cd:da"
clone CustomNodeProfile-3 pfileLinuxServer
add CustomNodeProfile-3  tcp port 22 "bash scripts/linux/ssh.sh $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
add CustomNodeProfile-3  tcp port 80 "tclsh scripts/linux/httpd/httpd.tcl $ipsrc $sport $ipdst $dport scripts/strings/example.conf"
dhcp CustomNodeProfile-3 on eth0 ethernet "00:12:3f:c6:7c:ec"

create DoppelgangerReservedTemplate
set DoppelgangerReservedTemplate default tcp action reset
set DoppelgangerReservedTemplate default udp action reset
set DoppelgangerReservedTemplate default icmp action open
set DoppelgangerReservedTemplate personality "Microsoft Windows 7"
set DoppelgangerReservedTemplate droprate in 0
add DoppelgangerReservedTemplate udp port 135 open
add DoppelgangerReservedTemplate udp port 137 open
add DoppelgangerReservedTemplate tcp port 137 open
add DoppelgangerReservedTemplate tcp port 139 open

bind 10.0.0.1 DoppelgangerReservedTemplate


