extends layout
        
block content
    h1 Connected Clients
    div(id='clientsList')

    h1 Configuration Options
    label TCP Timeout
    input(type='number', name='TCP_TIMEOUT', step='1', min='0', value=TCP_TIMEOUT)    
    br
    label TCP Timeout Check Frequency
    input(type='number', name='TCP_CHECK_FREQ', step='1', min='0', value=TCP_CHECK_FREQ)

block headerAdditions
    script(type="text/javascript", src="scripts/ConnectionManagement.js")
    script
        var clients = "#{CLIENTS}".split(':');
        function setTarget(source, target)
        {
            if(document.getElementById(source).checked)
            {
                message.id += target + ':';
            }
            else
            {
                // If unselected, remove target from message.id
                console.log(source + ' is not checked, can not do anything until target client is set');
            }
        }
        
        now.ready(function(){
          setUpSelect();
        });
