Source: nova
Section: net
Priority: optional
Maintainer: Dan Petro <dan.petro@datasoft.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/DataSoft/Nova

Package: nova
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnotify4, honeyd, libcap2-bin, mysql-server
Description: Anti-Reconnaissance System
 Use Nova to prevent and detect hostile reconnaissance on your private network. 
 Create a large array of decoy honeypots to obfuscate the network, and use  
 machine learning to classify suspects.
 .
 Nova comes in two main halves: novad and its user interfaces. novad is a 
 network daemon which listens to network traffic and classifies suspects
 using the k-NN statistical classification algorithm. User interfaces can 
 take several forms, including novaweb (a web interface), and novacli (a 
 command line interface).
 .
 Nova is Free Software written primarily in C++
