//- ============================================================================
//-  Copyright   : DataSoft Corporation 2011-2013
//-  Nova is free software: you can redistribute it and/or modify
//-   it under the terms of the GNU General Public License as published by
//-   the Free Software Foundation, either version 3 of the License, or
//-   (at your option) any later version.
//-
//-   Nova is distributed in the hope that it will be useful,
//-   but WITHOUT ANY WARRANTY; without even the implied warranty of
//-   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-   GNU General Public License for more details.
//-
//-   You should have received a copy of the GNU General Public License
//-   along with Nova.  If not, see <http://www.gnu.org/licenses/>.
//- ============================================================================

extends layout
block headerAdditions
  //link(rel="stylesheet", type="text/css", href="configstyle.css", media="screen")
  
  include includes/commonHoneydProfile

block content
  div#lightbox(class="white_content", style="display:none;")
    div#configureScript
    
    br
    button#closeLB(onclick='closeLightbox()') Close
  
  div#setup(onclick='handleOnclick(event);')
    h1 Adding Profile

    form

      table(id="tableEditProfile")
        col
        col
        col(style="width:200px")
        col(style="width:300px")
        
        tr(id="row0")
          td
          td
          td(style="text-align:right")
            label Profile Name
          td
            input#name(type="text", name="name")
        
        tr(id="row1")
          td
          td
          td(style="text-align:right")
            label Parent Profile
          td
            input#parentName(type="text", name="name", disabled="true")
        
 
        tr(id="row2")
          td
            input#inheritPersonality(type="checkbox", name="inheritPersonality", onclick="inheritanceChanged()") 
          td
            label Inherit?
          td(style="text-align:right")
            label Operating System Personality
          td
            select#personality(data-dojo-type="dijit.form.FilteringSelect", name="personality", autocomplete="true", pageSize=10)
              each os in personalities
                option(value="#{os}") #{os}
        
        tr(id="row4")
          td
            input#inheritDropRate(type="checkbox", name="inheritDropRate", onclick="inheritanceChanged()") 
          td
            label Inherit?
          td(style="text-align:right")
            label Packet Drop Percentage
          td
            input#dropRate(type="number", name="dropRate", min=0, max=100)
        tr
          td
            br
        tr(id="row5")
          td
            input#inheritUptime(type="checkbox", name="inheritUptime", onclick="inheritanceChanged()") 
          td
            label Inherit?
          td(style="text-align:right")
            label Fixed uptime or range?
          td
            select#uptimeType(name="uptimeType", onchange="uptimeTypeChanged()")
              option Fixed
              option Range
          
        tr(id="row6")
          td
          td
          td(style="text-align:right")
            label(id="uptimeLabel") Uptime Range
          td
            input#uptimeMin(type="number", name="uptimeMin", min=0)
            input#uptimeMax(type="number", name="uptimeMax", min=0)

      br
      br
      h1 Profile Ethernet Vendor Configuration
      table#ethernetVEndors
       
      div(id="ethSelectDiv")
        button.button(type="button", id="ethSelectButton", onclick="addEthernetVendor(document.getElementById('ethernet').value, 1)")
          img.buttonIcon(src="images/add.png")
          span.buttonSpan Add New Vendor

        select#ethernet(data-dojo-type="dijit.form.FilteringSelect", name="ethernet", autocomplete="true", pageSize=10)
          each vendor in vendors
            option(value="#{vendor}") #{vendor}
                
        
      label(id="errorEthernet", style="color:red;", value="")
      input(type='hidden', id='profDist', value='')

      br
      br
      
      h1 Profile Port Configuration
      table
        tr
          td
            label Create New Port Set
          td
            input#newPortSetName(type="text", placeholder="Name of new portset", style="width: 95%")
          td
            button(type="button", onclick = "addNewPortset()")
              img.buttonIcon(src="images/add.png")
              span.buttonSpan Add Portset

        tr
          td
            label Edit Port Set
          td
            select#portSetSelection(onchange='portSetSelectionChanged()', style="width: 95%")
          td
            button(type="button", onclick = "deletePortset()")
              img.buttonIcon(src="images/delete.png")
              span.buttonSpan Delete Portset
      
        tr
          td
            label Rename Selected Port Set  
          td
            input#newPortsetName(type="text", placeholder="New Portset Name", style="width: 95%")
          td
            button(type="button", onclick = "renamePortset()") 
              img.buttonIcon(src="images/edit.png")
              span.buttonSpan Rename Portset

      br
      br
      div#portSetDiv
        table
          tr
            td
              label Default TCP Action
             td
               select#defaultTCPAction(style="width: 100%")
                 option(value="filtered") Filtered (don't respond)
                 option(value="open") Open (respond with SYN/ACK)
                 option(value="closed") Closed (respond with RST)

           tr
             td
               label Default UDP Action
             td
               select#defaultUDPAction(style="width: 100%")
                 option(value="filtered") Filtered (don't respond)
                 option(value="closed") Closed (respond with ICMP port unreach)
           tr
             td
               label Default ICMP Action
             td
               select#defaultICMPAction(style="width: 100%")
                 option(value="filtered") Filtered (don't respond)
                 option(value="open") Open (respond to pings)
   
        br
        table#portTable
    
        button(type="button", onClick="addPort()")
          img.buttonIcon(src="images/add.png")
          span.buttonSpan Add New Port
    
      br
      br
      br

      button#saveButton(type="button", onclick="saveChanges()") Add Profile
