extends layout

block headerAdditions
  link(rel="stylesheet", name="text/css", href="configstyle.css", media="screen")
  script
    alert("Warning! These are advanced configuration options for experienced users.");
    
    function restoreDefaults()
    {
        try {
            now.restoreDefaultSettings(configurationRestored);
        } catch (err)
        {
            alert("Unable to contact server");
            console.log("Error was: " + err);
        }
    }

    function configurationRestored()
    {
        window.location.reload();
    }


block content
  form#advancedConfigForm(method="post", action="/configureNovaSave")
    include includes/advancedConfigForm
  button(onClick="document.getElementById('advancedConfigForm').submit()") Submit
  br
  button(onClick="restoreDefaults()") Restore Default Configuration (will erase all changes!)
//  include includes/advancedConfigForm

  
