extends layout

block headerAdditions
  link(rel="stylesheet", name="text/css", href="configstyle.css", media="screen")
  script
    alert("Warning! These are advanced configuration options for experienced users.");


block content
  form#advancedConfigForm(method="post", action="/configureNovaSave")
    include includes/advancedConfigForm
  button(onClick="document.getElementById('advancedConfigForm').submit()") Submit
//  include includes/advancedConfigForm

  
