extends layout

block headerAdditions
  script

block content
  h1 Last reported honeyd DHCP node addresses
  - if (haystackDHCPIps == '')
    li No DHCP addresses
  each ip in haystackDHCPIps
    li
      a(href = "/editHoneydNode?node=DHCP - " + ip[1].replace(" ", ""))= "DHCP -" + ip[1]
      span  is currently at IP address #{ip[0]}
  
