extends layout

block headerAdditions
  script(src="scripts/spin.js")
  script
    var subnetsArray = [];
    var Interfaces = "#{INTERFACES}";
   
    var interfaceList = Interfaces.split(',');
    
    var interfaceLength;
    if(interfaceList[0].length == 1)
    {
        interfaceLength = parseInt("1");
    }
    else if(interfaceList[0].length > 1)
    {
        interfaceLength = parseInt(interfaceList.length);
    }
  
    function watermark(id, text)
    {
      var element = document.getElementById(id);
    
      if(element.value.length > 0)
      {
        if(element.value == text)
        {
          element.value = '';
        }
      }
      else
      {
        element.value = text;
      }
    }
  
    function validateAndAdd(id, errLabel, dest)
    {
      var toValidate = document.getElementById(id).value;
    
      var regex = new RegExp("^((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){3}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\/[1-3]?[0-9]$");
    
      if((toValidate[toValidate.length - 2] >= 3 && toValidate[toValidate.length - 1] > 2)
        || (toValidate[toValidate.length - 3] != '/' && toValidate[toValidate.length - 2] != '/'))
      {
        document.getElementById(errLabel).style.color = 'red';
        document.getElementById(errLabel).innerHTML = "Invalid subnet bit value (e.g. 33 or higher)";
        return;
      }
    
      if(noSubnetRepeats(toValidate) == 'false')
      {
        document.getElementById(errLabel).style.color = 'red';
        document.getElementById(errLabel).innerHTML = "That subnet is already in the subnets list";
        return;
      }
    
      if(regex.test(toValidate))
      {
        document.getElementById(errLabel).style.color = 'green';
        document.getElementById(errLabel).innerHTML = "Valid subnet found!";
        // add here
        var tr = document.createElement("tr");
        tr.id = toValidate;
        var td0 = document.createElement("td");
        var td1 = document.createElement("td");
        
        var input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("readonly", "true");
        input.setAttribute("name", "subnets");
        input.setAttribute("value", toValidate);
        input.innerHTML = toValidate;
        
        var deleteButton = document.createElement("button");
        deleteButton.setAttribute("onclick", 'deleteSubnet("' + toValidate + '")');
        deleteButton.innerHTML = 'Remove Subnet';
        
        td0.appendChild(input);
        td1.appendChild(deleteButton);
        tr.appendChild(td0);
        tr.appendChild(td1);
        
        document.getElementById(dest).appendChild(tr);
        
        document.getElementById(id).value = 'Format: XXX.XXX.XXX.XXX/##';
        document.getElementById(id).blur();
        
        subnetsArray.push(toValidate);
        
        document.getElementById('showTable').style.display = 'block';
      }
      else
      {
        document.getElementById(errLabel).innerHTML = "That is not a valid subnet.";
        return;
      }
    }
    
    function deleteSubnet(source)
    {
      if(document.getElementById(source) != undefined)
      {
        for(var i in subnetsArray)
        {
          if(subnetsArray[i] == source)
          {
            subnetsArray.splice(i, 1);
          }
        }
        document.getElementById('subnetsList').removeChild(document.getElementById(source));
        if(subnetsArray.length == 0)
        {
          document.getElementById('showTable').style.display = 'none';
        }
      }
    }
    
    function noSubnetRepeats(test)
    {
      for(var i in subnetsArray)
      {
        if(subnetsArray[i] == test)
        {
          return 'false';
        }
      }
      return 'true';
    }
    
    function checkAtLeastOne()
    {
      var atLeastOneChecked = false;
      
      // check that there is at least one subnet or one interface selected here
      for(var i = 0; i < document.getElementById("length").getAttribute("value"); i++)
      {
        if(document.getElementById("if" + i).checked)
        {
          atLeastOneChecked = true;
        }
      }
      
      if(document.getElementById("subnetsList").childNodes["length"] > 0)
      {
        atLeastOneChecked = true;
      }
      
      if(!atLeastOneChecked)
      {
        document.getElementById("errorLabel").innerHTML = "Must select at least one interface or add one subnet.";
      }
      
      return atLeastOneChecked;
    }

    function RunScan()
    {
      var checkGroupName = GetGroupName();

        if(GetGroupName() == '*')
        {
          alert('Must enter a group name!');
          return;          
        }
        else if(GetGroupName() == '#')
        {
          alert('No special characters in group name! Alphanumeric only.');
          return;
        }
        if(checkAtLeastOne())
        { 
          disableBackground();
          document.getElementById("startScan").value='Scanning...'; 
          document.getElementById("startScan").setAttribute('disabled', 'true');
          document.getElementById("lightbox").style.display='block';
          document.getElementById("setup").style.opacity='0.5';
          var opts = {
              lines: 17,
              length: 0,
              width: 4,
              radius: 27,
              corners: 0.6,
              rotate: 0,
              color: '#E8A02F',
              speed: 1,
              trail: 34,
              shadow: false,
              hwaccel: false,
              className: 'spinner',
              zIndex: 1003,
              top: 20,
              left: 'auto'
          };
          
          var spinner = new Spinner(opts).spin(document.getElementById('spinnerDiv'));
          document.getElementById('spinnerDiv').style.height = ((opts.radius * 2) + 30)+ 'px';
          var divWidth = document.getElementById('lightbox').scrollWidth;
          document.getElementById('appendText').style.width = divWidth + 'px';
          try 
          {
              var element = document.getElementById("nodeCountType");
              var count = element.options[element.selectedIndex].value;
              now.ShowAutoConfig(count, GetNumNodes(), GetInterfaces(), GetSubnets(), GetGroupName(), autoscancb, routeToReview); 
          } 
          catch(err) 
          {
              alert("Action failed because unable to connect to server! Please try refreshing the page and trying again.");
              console.log("err was: " + err);
          }   
        } 
        else
        {
            return false;
        }
    }

    function disableBackground()
    {
      var disableUs = document.getElementById('setup').childNodes;
      for(var i in disableUs)
      {
        disableUs[i].disabled = true;
      }
    }

    function enableBackground()
    {
      var enableUs = document.getElementById('setup').childNodes;
      for(var i in disableUs)
      {
        enableUs[i].disabled = false;
      }
    }

    function GetNumNodes()
    {
        var num;
        var element = document.getElementById("nodeCountType");
        var count = element.options[element.selectedIndex].value;
        if(count == "fixed") 
        {
            num = parseInt(document.getElementById("numNodes").value);
        } 
        else 
        {
            num = parseFloat(document.getElementById("numNodesRatio").value);
        }
        return num;
    }
    
    function GetInterfaces()
    {
        var length = interfaceLength;
        
        var returnString = "";
        
        for(var i = 0; i < length; i++)
        {
            if(document.getElementById("if" + i).checked)
            {
                returnString += document.getElementById("if" + i).value;
                if(i != (length - 1))
                {
                    returnString += ",";
                }
            }
        }
        
        return returnString;
    }
    
    function GetSubnets()
    {
        var returnString = "";
        
        for(var i in subnetsArray)
        {
            returnString += subnetsArray[i];
            if(subnetsArray[i + 1] != undefined)
            {
                returnString += ",";
            }
        }       
        
        return returnString;
    }

    function GetGroupName()
    {
      var group = document.getElementById('newGroup').value;
      
      if(group == undefined || group == '')
      {
        return '*';
      }
      if((new RegExp('^[a-zA-Z0-9]+$')).test(group))
      {
        return group;
      }
      else
      {
        alert('Unacceptable characters in group name!');
        return '#';
      }
    }

    function autoscancb(text)
    {
        var p = document.createElement('p');
        p.value = text;
        p.innerHTML = text;
        document.getElementById('appendText').appendChild(p);
        //document.getElementById('appendText').style.height = document.getElementById('appendText').scrollHeight;
        document.getElementById('appendText').scrollTop = document.getElementById('appendText').scrollHeight;
    }
    
    function routeToReview(redirect)
    {
        window.location = redirect.toString();
    }

    function nodeNumberTypeChanged()
    {
       var element = document.getElementById("nodeCountType");
       var count = element.options[element.selectedIndex].value;
       if(count == "fixed") 
       {
         document.getElementById("numNodesLabel").innerHTML = "Number of Haystack Nodes to create";
       } 
       else 
       {
         document.getElementById("numNodesLabel").innerHTML = "Ratio of nodes to create versus nodes found during scan";
       }
    }

    function cancelScan()
    {
      if(typeof now.CancelAutoScan == 'function')
      {
        var group = document.getElementById("newGroup").value;
        now.CancelAutoScan(group);
      }
      else
      {
        alert('*** DEBUG *** Error: now.CancelAutoScan not defined (should not see this)');
      }
    }

    function populateTable()
    {
      var table = document.getElementById('appendHook');
      var checked = true;
      for(var i in interfaceList)
      {
        now.GetSubnetFromInterface(interfaceList[i], i, function(iface, subnet, index){
          if(subnet == '')
          {
            console.log('subnet string is empty; failed to get IP/netmask for interface ' + iface);
            return;
          }
          var tr = document.createElement('tr');
          var td = document.createElement('td');
          var div = document.createElement('div');
          var input = document.createElement('input');
          var label = document.createElement('label');
          input.type = 'checkbox';
          input.value = iface;
          input.name = 'interfaces';
          input.style.width = 10;
          if(checked)
          {
            input.checked = checked;
            checked = false;
          }
          input.id = 'if' + index;
          label.innerHTML = iface + ' (' + subnet + ')';
                    
          td.appendChild(input);
          td.appendChild(label);
          div.appendChild(td);
          tr.appendChild(div);
          table.appendChild(tr);
        });
      } 
    }
    
    now.ready(function(){
      populateTable();
    });

block content
  if(SCANERROR !== undefined)
    label(id="scanError", style="color: red;") #{SCANERROR}
    
  div#setup
    h1 Haystack Autoconfig
    br
    label(style='font-weight: bold') New Haystack Group Name
    br
    br
    input(type='text', id='newGroup', value="Required Field", onblur='watermark("newGroup", "Required Field")', onfocus='watermark("newGroup", "Required Field")')
    br
    hidden(id="length", value=INTERFACES.length)
    br    
    label#numNodesLabel(style='font-weight: bold') Number of Haystack Nodes to create
    br
    br
    select#nodeCountType(onchange="nodeNumberTypeChanged()")
      option(value="fixed", selected='selected') Fixed
      option(value="ratio") Ratio
    input(type="number", name="numNodes", id="numNodes", width="4", min="1", value="1")
    br
    table
      thead
        tr 
          th Interfaces connected to Server
      tbody(id='appendHook')
    
    br
    label(style="font-weight: bold;") Additional Subnets to Scan
    br
    label(id="errorLabel", style="color:red;")  
    br
    input(type="text", style="width:200px", id="subnetToAdd", width="20", onkeydown="if(event.keyCode == 13){ document.getElementById('addSubnet').click(); document.getElementById('subnetToAdd').value='Format: XXX.XXX.XXX.XXX/##'; event.returnValue=false; event.cancel=true; }", onblur="watermark(\"subnetToAdd\", \"Format: XXX.XXX.XXX.XXX/##\");", onfocus="watermark(\"subnetToAdd\", \"Format: XXX.XXX.XXX.XXX/##\");", value="Format: XXX.XXX.XXX.XXX/##") 
    button(type="button", id="addSubnet", style="width:160px", onclick="validateAndAdd(\"subnetToAdd\", \"errorLabel\", \"subnetsList\");") Add Subnet  
    br
    table(id='showTable', style='display:none;')
      thead
        tr
          th
            label Subnets
      tbody(id="subnetsList")
      
    br
    br
    input(type="submit", id="startScan", value="Start Scanning", onclick="RunScan()")
    
  div(id="lightbox", class="white_content")
    label(style="font-size: 1.2em;") Scan Commencing...
    div(id='spinnerDiv', style="height: 30px; padding-botton: 30px;")
    div(id='appendText', style="height: 60%; width: auto; overflow-y: scroll; overflow-x: hidden")
    button(id='cancelscan', onclick='cancelScan()') Cancel Scan
    
