extends layout

block content
  h1 Watching Honeyd Log
  p
    a.button(href="/downloadHoneydLog.log") Download Entire Log
  p
    a.button(href="/viewHoneydLog") View Entire Log
  p New log messages will appear below
  div#lastLogLine(style="border:2px solid;")

block headerAdditions
  script
    now.ready(function() {
      now.newHoneydLogLine = function (line) {
        var logDiv = document.getElementById("lastLogLine");
        
        var logP = document.createElement("P");
        logP.appendChild(document.createTextNode(line));

        var styleString = 'margin: 0; padding: 4px;';
        // Colorize the line a bit
        styleString += 'color: blue';

        logP.setAttribute("style", styleString)

        logDiv.insertBefore(logP, logDiv.firstChild);
      };
    });
