extends layout

block headerAdditions
  script
    var configurationList = !{JSON.stringify(configurations)};
    var theDoc = document;
    
    console.log('configurationList = ' + configurationList);
    
    function closeLightbox()
    {
      theDoc.getElementById('lightbox').style.display = 'none';
      theDoc.getElementById('hideme').style.opacity = '1.0'; 
      while(theDoc.getElementById('cloneMe').hasChildNodes())
      {
        theDoc.getElementById('cloneMe').removeChild(theDoc.getElementById('cloneMe').lastChild);
      }
    }
    
    function newConfiguration(configName, cloneInfo)
    {
      var cloneConfig = cloneInfo;
      if(cloneInfo == undefined)
      {
        console.log('Creating empty configuration ' + configName);
      }
      else 
      {
        console.log('Creating clone configuration ' + configName + ' based on ' + cloneInfo);
      }
    }
    
    function populateConfigSelect(configs)
    {
      console.log('populateConfigSelect()');
      if(configs == undefined || configs == '')
      {
        console.log('no configs sent');
        var option = theDoc.createElement('option');
        option.value = 'None';
        option.innerHTML = 'None';
        theDoc.getElementById('configurations').appendChild(option);
      }
      else
      {
        console.log('got configs');
        var selected = false;
        for(var i in configs)
        {
          console.log('configs[' + i + '] == ' + configs[i]);
          var option = theDoc.createElement('option');
          if(!selected)
          {
            option.selected = 'selected';
            selected = true;
          }
          option.value = configs[i];
          option.innerHTML = configs[i];
          theDoc.getElementById('configurations').appendChild(option);
        }
        GetConfigurationSummary();
      }
    }
    
    function GetConfigurationSummary(configArg)
    {
      var config;
      if(configArg == undefined)
      {
        config = theDoc.getElementById('configurations').value;
      }
      else
      {
        config = configArg;
      }
      console.log('In GetConfigurationSummary with config ' + config);
      if(typeof now.GetConfigSummary == 'function')
      {
        console.log('now.GetConfigSummary is a function, calling with arg ' + config);
        now.GetConfigSummary(config, function(parseMe){
          // manipulate elements here (i.e. pi charts, text, tables, etc.)
          // Will all be contained in the object parseMe that will use the 
          // object literal notation of javascript to allow the server side
          // to do the calculations, and then send exactly the data required to
          // the browser.
          console.log('in callback with parseMe == ' + parseMe);
        })
      }
      else
      {
        console.log('now.GetConfigSummary is not a function');
      }
    }
    
    function showLightBox(divIndex)
    {
      theDoc.getElementById('hideme').style.opacity='0.5';
      theDoc.getElementById('lightbox').style.display='block';
      if(divIndex == '0')
      {
        theDoc.getElementById('addConfigForm').style.display='block';
        theDoc.getElementById('cloneConfigForm').style.display='none';
      }
      else if(divIndex == '1')
      {
        theDoc.getElementById('addConfigForm').style.display='none';
        theDoc.getElementById('cloneConfigForm').style.display='block';
        for(var i in configurationList)
        {
          var option = theDoc.createElement('option');
          option.value = configurationList[i];
          option.innerHTML = configurationList[i];
          theDoc.getElementById('cloneMe').appendChild(option);
        }
      }
    }
    
    function checkParametersAdd()
    {
      if(theDoc.getElementById('newName').value == '')
      {
        alert('Must give a new name for New Configurations');
        return;
      }
      else
      {
        theDoc.getElementById('addConfig').submit();
      }
    }
    
    function checkParametersClone()
    { 
      if(theDoc.getElementById('newNameClone').value == '')
      {
        alert('Must give a new name for Cloned Configurations');
        return;
      }
      else
      {
        theDoc.getElementById('cloneConfig').submit();
      }      
    }
    
    now.ready(function(){
      populateConfigSelect(configurationList);
    });
  
block content
  div#hideme
    h1 Configuration Summary
    select#configurations(onchange='GetConfigurationSummary()') Configuration
    div#addNewConfig
      button#addConfig(onclick='showLightBox("0")') Add Configuration
      button#cloneConfig(onclick='showLightBox("1")') Clone Configuration
    div#summary(style='border: 2px solid black')
  div#lightbox(class='white_content')
    div#addConfigForm
      form(method='post', id='addConfig')
        label Name For New Configuration 
        input#newName(name='newName')
        br
        button#submitAdd(onclick='checkParametersAdd(); return false;') Submit
    div#cloneConfigForm
      form(method='post', id='cloneConfig')
        label Name For Cloned Configuration
        input#newNameClone(name='newNameClone')
        br
        label Select Configuration to Clone:
        select#cloneMe(name='cloneSelect')
        br
        button#submitClone(onclick='checkParametersClone(); return false;') Submit
    button#closeLB(onclick='closeLightbox()') Close
