doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="style.css", media="screen")
    link(rel="stylesheet", type="text/css", href="/dojo/dijit/themes/claro/claro.css", media="screen")
    link(rel="shortcut icon", href="/favicon.ico")

    script(type="text/javascript", src="/nowjs/now.js")
    script(type="text/javascript", src="/dojo/dojo/dojo.js", data-dojo-config="async:true, parseOnLoad:true")
    script
      require(["dijit/layout/BorderContainer", "dijit/layout/TabContainer", "dijit/layout/ContentPane", "dijit/form/Button", "dojo/parser"],
        function(ready){
          dojo.addOnLoad(function(){
            // Some logging of nowjs stuff
            now.core.on('disconnect', function() {console.log('Warning: Disconnected from nowjs server.');});
            
            dojo.style("appLayout", "opacity", 0);
            dojo.fadeOut({node:"splash", delay:0}).play();
            dojo.style("appLayout", "visibility", "visible");
            dojo.fadeIn({node:"appLayout", delay:0}).play();
          });
        }
      );
    block headerAdditions

  body.claro
    div#splash(style="position:absolute;left:0px;top:0px;width:100%;height:100%; text-align: center;")
      // Uncomment below for a simple splash loading screen
      //h1 Loading... please wait.
      //img(src="images/novaSplash.png")
    div#appLayout.demoLayout(data-dojo-type="dijit.layout.BorderContainer", data-dojo-props="design: 'headline', region: 'center'", style="visibility: hidden")
      div.centerPanel(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="region: 'center', tabPosition: 'bottom'")
        div(data-dojo-type="dijit.layout.ContentPane",title="NOVA", data-dojo-props="splitter: false")
          block content
      // Header panel
      div.edgePanel(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="region: 'top', splitter: false")
        div(data-dojo-type="dijit.layout.BorderContainer",data-dojo-props="design: 'sidebar', splitter: false",style="height: 140px;")
          // Header center
          div(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="region: 'center', splitter: false")    
            a(href="/")
              img#eyeIcon(src="images/novaIcon.png",class="align-left", width="100px", height="100px")
              h1 NOVA: Network Obfuscation and Virtualized Anti-reconnaissance System
            block topPannelAdditions
    
      // Left panel
      div#leftCol.edgePanel(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="region: 'left', splitter: false")
        block buttonPannelAdditions
      
       
        div.sideBarHeader Status
          a.sideBarButton(href='/events') Hostile Events
          a.sideBarButton(href='/suspects?type=all') Classified Suspects
          a.sideBarButton(href="/suspects?type=unclassified") Unclassified Suspects
          a.sideBarButton(href= "/suspects?type=hostile") Only Hostile Suspects
          a.sideBarButton(href= "/haystackStatus") Haystack Details
        
        div.sideBarHeader Logs
          a.sideBarButton(href= "/novadlog") Nova Log
          a.sideBarButton(href= "/honeydlog") Haystack Log
       
        div.sideBarHeader Configuration
          a.sideBarButton(href= "basicOptions") Basic Options
          a.sideBarButton(href= "advancedOptions") Advanced Options
          a.sideBarButton(href= "interfaceAliases") Interface Aliases
          a.sideBarButton(href= "configWhitelist") IP Whitelist
       
        div.sideBarHeader Haystack Settings
          a.sideBarButton(href= "configHoneydProfiles") Haystack Profiles
          a.sideBarButton(href= "configHoneydNodes") Haystack Nodes
          a.sideBarButton(href= "autoConfig") Haystack Autoconfiguration
          a.sideBarButton(href= "scripts") Honeyd Scripts
        
        div.sideBarHeader Training
          a.sideBarButton(href= "customizeTraining") Choose Training Data
        
        div.sideBarHeader Users
          a.sideBarButton(href= "createNewUser") New User
          a.sideBarButton(href= "editUsers") Edit Users
        
        div.sideBarHeader Documentation
          a.sideBarButton(href='/about') About Nova
        
