extends layout

block content
  h1 Watching Novad Log
  p
    a.button(href="/downloadNovadLog.log") Download Entire Log
  p
    a.button(href="/viewNovadLog") View Entire Log
  p New log messages will appear below
  div#lastLogLine(style="border:2px solid;")

block headerAdditions
  script
    function init() {
    now.ready(function() {
      now.newLogLine = function (line) {
        var logDiv = document.getElementById("lastLogLine");
        
        var logP = document.createElement("P");
        logP.appendChild(document.createTextNode(line));

        var styleString = 'margin: 0; padding: 4px;';
        // Colorize the line a bit
        var splitLine = line.split(/[\\s]+/);
        if (splitLine.length >= 6) {
          if (splitLine[5] == "DEBUG" || splitLine[5] == "INFO") {
              styleString += 'color: green';
          } else if (splitLine[5] == "WARNING" || splitLine[5] == "NOTICE") {
              styleString += 'color: orange';
          } else if (splitLine[5] == "ERROR" || splitLine[5] == "CRITICAL") {
              styleString += 'color: red';
          } else {
              styleString += 'color: blue';
          }
        }

        logP.setAttribute("style", styleString)

        logDiv.insertBefore(logP, logDiv.firstChild);
      };
    });
    }
