extends layout

block headerAdditions
  script
    var scriptList = !{JSON.stringify(scripts)};
    var scriptBindings = !{JSON.stringify(bindings)};
    var theDoc = document;

    function closeLightbox()
    {
      theDoc.getElementById('lightbox').style.display = 'none';
      theDoc.getElementById('hideme').style.opacity = '1.0'; 
    }

    function setUpScriptTable()
    {
      var append = theDoc.getElementById('addAnchor');
      for(var i in scriptList)
      {
        var disable = false;
        var tr = theDoc.createElement('tr');
        tr.id = scriptList[i].script;
        var td0 = theDoc.createElement('td');
        var label0 = theDoc.createElement('label');
        label0.innerHTML = scriptList[i].script;
        var td1 = theDoc.createElement('td');
        var label1 = theDoc.createElement('label');
        label1.innerHTML = (scriptBindings[scriptList[i].script] != undefined ? scriptBindings[scriptList[i].script] : 'Not assigned to any profiles');
        if(label1.innerHTML !== scriptBindings[scriptList[i].script])
        {
          disable = true;
        }
        var td2 = theDoc.createElement('td');
        var label2 = theDoc.createElement('label');
        label2.innerHTML = scriptList[i].path;
        var td3 = theDoc.createElement('td');
        var clearButton = theDoc.createElement('button');
        clearButton.innerHTML = 'Clear Profiles';
        clearButton.setAttribute('onclick', 'ClearScriptFromProfiles("' + scriptList[i].script + '")');
        clearButton.disabled = disable;
        
        td0.appendChild(label0);
        td1.appendChild(label1);
        td2.appendChild(label2);
        td3.appendChild(clearButton);
        tr.appendChild(td0);
        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        append.appendChild(tr);
      }
    }
    
    function ClearScriptFromProfiles(scriptName)
    {
      if(scriptBindings[scriptName] == undefined)
      {
        console.log('The script ' + scriptName + ' is not linked to any profiles');
        return;
      }
      var profilesIter = scriptBindings[scriptName].split(',');
      if(profilesIter == '' || profilesIter == undefined || profilesIter == null)
      {
        console.log('found only one profile');
        profilesIter = scriptBindings[scriptName];
      }
      if(typeof now.RemoveScriptFromProfiles == 'function')
      {
        now.RemoveScriptFromProfiles(scriptName, profilesIter, function(){
          location.reload(true);
        });
      }
      else
      {
        alert('Could not complete action, function RemoveScriptFromProfiles not found');
        return;
      }
    }

    function showLightBox()
    {
      theDoc.getElementById('hideme').style.opacity='0.5';
      theDoc.getElementById('lightbox').style.display='block';
    }
    
    function checkParams(callback)
    {
      var sName = theDoc.getElementById('scriptFile').value;
      var sFile = theDoc.getElementById('scriptName').value;
      
      if(sName == '' || sFile == '' || sName == undefined || sFile == undefined)
      {
        alert('Must select both a file and supply a name for the new script');
      }
      else
      {
        if(typeof callback == 'function')
        {
          callback();
        }
      }
    }
    
    now.ready(function(){
      setUpScriptTable();
    });

block content
  div#hideme
    h1 Honeyd Scripts
  
    button(onclick='showLightBox()') Add New Honeyd Script
    br
    br
  
    table(border='1', style='border: solid black 2px;')
      thead
        tr
          th(style='background-color: #d0e9fc;') Name
          th(style='background-color: #d0e9fc;') Profiles
          th(style='background-color: #d0e9fc;') Path And Parameters
      tbody#addAnchor
    br
  
  div(id='lightbox', class='white_content')
    form(id='submitMe', method='post', enctype="multipart/form-data")
      table
        tbody
          tr
            td 
              label Script to Upload
            td 
              input(type='file', name='script', id='scriptFile')
          tr
            td
              label Shell Type
            td
              input(name='shell', id='scriptShell')
          tr 
            td
              label Args
            td
              input(name='args', id='args')
          tr
            td
              label Name of Script
            td
              input(name='name', id='scriptName')
    button(onclick='checkParams(function(){document.getElementById("submitMe").submit();})') Add Script
    
    br
    button(onclick='closeLightbox()') Close
