HTTP_SERVER_VERSION Apache/1.3.23 (Unix)  (SuSE/Linux) ApacheJServ/1.2.2 mod_fastcgi/2.2.2 mod_perl/1.34 PHP/4.1.0 mod_ssl/2.8.7 OpenSSL/0.9.6c
FINGERD_VERSION Welcome to Linux version 2.4.7-4GB
FTPD_VERSION FTP server (Version wu-2.6.0(5)
IDENT_USERNAME bob
QPOP_VERSION QPOP (version 2.53)
SENDMAIL_VERSION Sendmail 8.10.2/8.10.2/SuSE Linux 8.10.0-0.3
SQUID_VERSION Squid/2.2.STABLE2
SSH_VERSION SSH-1.99-OpenSSH_2.1.1
TELNET_BANNER Welcome to SuSE Linux 7.0 (i386) - Kernel 2.4.7 (0).
