create default
set default default tcp action block
set default default udp action block
set default default icmp action block

create Dopp
set Dopp personality "Microsoft Windows 2003 Server"
set Dopp default tcp action reset
#set Dopp ethernet "Sony"
add Dopp tcp port 23 "/usr/share/honeyd/scripts/router-telnet.pl"
add Dopp tcp port 80 "/usr/share/honeyd/scripts/web.sh"
add Dopp tcp port 139 open
add Dopp tcp port 137 open
add Dopp udp port 137 open
add Dopp udp port 135 open 
set Dopp uptime 1327650 

bind 10.0.0.1 Dopp
#dhcp Dopp on eth1
