extends layout

block headerAdditions
  script

block content
  h1 Last reported honeyd DHCP node addresses
  - if (haystackDHCPIps == '')
    li No DHCP addresses
  each ip in haystackDHCPIps
    li= ip
  
