doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="style.css", media="screen")
    link(rel="stylesheet", type="text/css", href="/dojo/dijit/themes/claro/claro.css", media="screen")
    link(rel="stylesheet", type="text/css", href="/dojo/dojox/grid/resources/Grid.css")
    link(rel="stylesheet", type="text/css", href="/dojo/dojox/grid/resources/claroGrid.css")

    script(type="text/javascript", src="/nowjs/now.js")
    script(type="text/javascript", src="/dojo/dojo/dojo.js", data-dojo-config="async:true, parseOnLoad:true")
    script
      require(["dijit/layout/BorderContainer", "dijit/layout/TabContainer", "dijit/layout/ContentPane", "dijit/form/Button", "dojo/parser", "dojox/grid/DataGrid", "dojox/data/HtmlStore", "dijit/ProgressBar"],
        function(ready){
          dojo.addOnLoad(function(){
            dojo.style("appLayout", "opacity", 0);
            dojo.fadeOut({node:"splash", delay:0}).play();
            dojo.style("appLayout", "visibility", "visible");
            dojo.fadeIn({node:"appLayout", delay:0}).play();
          });
        }
      );
    block headerAdditions

  body.claro
    div#splash(style="position:absolute;left:0px;top:0px;width:100%;height:100%; text-align: center;")
      // Uncomment below for a simple splash loading screen
      //h1 Loading... please wait.
      //img(src="images/novaSplash.png")
    div#appLayout.demoLayout(data-dojo-type="dijit.layout.BorderContainer", data-dojo-props="design: 'headline'", style="visibility: hidden")
      div.centerPanel(data-dojo-type="dijit.layout.TabContainer", data-dojo-props="region: 'center', tabPosition: 'bottom'")
        div(data-dojo-type="dijit.layout.ContentPane",title="NOVA")
          block content
      // Header panel
      div.edgePanel(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="region: 'top', splitter: 'true'")
        div(data-dojo-type="dijit.layout.BorderContainer",data-dojo-props="design: 'sidebar'",style="height: 140px;")
          // Header center
          div(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="region: 'center'")    
            a(href="/")
              img(src="images/novaIcon.png",class="align-left")
              h1 NOVA: Network Obfuscation and Virtualized Anti-reconnaissance System
            block topPannelAdditions
    
      // Left panel
      div#leftCol.edgePanel(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="region: 'left', splitter: true")
        block buttonPannelAdditions
        
        br

        button(data-dojo-type="dijit.form.Button",type="button") Configure Nova
          script(type="dojo/method", data-dojo-event="onClick") window.location = "configNova";
        br
        
        button(data-dojo-type="dijit.form.Button",type="button") Configure Honeyd Profiles
          script(type="dojo/method", data-dojo-event="onClick") window.location = "configHoneydProfiles";
        br

        button(data-dojo-type="dijit.form.Button",type="button") Configure Honeyd Nodes
          script(type="dojo/method", data-dojo-event="onClick") window.location = "configHoneydNodes";
        br
        
        button(data-dojo-type="dijit.form.Button",type="button") Configure Training Data
          script(type="dojo/method", data-dojo-event="onClick") window.location = "customizeTraining";
        br

