extends loginlayout

block content
  form(method="post", action="/login?redirect=#{redirect}")
    label Username
      input(type="text", name="username", size="10")
    br
    label Password
      input(type="password", name="password", size="20") 
    br       
    input(type="Submit", value="Log In")

  
